APP_NAME=Meals

### Database
DB_ENGINE=django.db.backends.mysql
DB_USER=your_database_user

DB_PASSWORD=your_database_password

DB_HOST=your_database_host

DB_PORT=3306

DB_NAME=your_database_name


### Application
DAILY_GOAL_KCAL=2000


### CORS
WEB_URL=http://localhost:3000